{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 3 versions"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "react-html-attrs",
        "babel-plugin-dynamic-import-webpack"
    ]
}