.home-category {
    background-color: #333;
    padding-bottom: 10px;
    .items {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0;
        color: #111;
        img {
            width: 100%;
        }
    }
    .index{
        margin-top: 10px;
        width: 100%;
        height: auto;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background-color: #fff;
            margin: 0 3px;
            &.active {
                background-color: #ff6fa2;
            }
        }
    }
}