@import './reset.scss';
@import './font.scss';

body {
    background-color: #f6f6f6;
}

.l-clearfix:after {
    display: table;
    content: '';
    clear: both;
}
.l-left {
    float: left;
}
.l-right {
    float: right;
}