.home-header {
    background-color: #323232;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    .location {
        width: 60px;
        text-align: left;
        margin: 5px 0;
    }
    .searchBox {
        width: auto;
        margin: 0 30px 0 60px;
        .search {
            background-color: #fff;
            border-radius: 15px;
            overflow: hidden;
            padding: 5px 10px;
            i {
                color: #ccc;
                vertical-align: middle;
            }
            input {
                width: 90%;
                padding-left: 5px;
                font-size: 14px;
                outline: none;
                border: none;
                font-weight: normal;
            }
        }
    }
    .user {
        margin: 5px 0;
    }
}